ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

.close-btn {
    color: transparent;
    border: none;
    background: none;
}
.list-section:hover .close-btn {
    color: var(--primary-color);
}

li.list-section:hover {
    background: rgba(0, 0, 0, .033);
}

@media (max-width: 576px) {    
    .close-btn {
        color: var(--primary-color);
    }
}
