.parent-paper {
    max-width: 60vw;
    margin: auto;
    font-size: 1.2rem;
}

.paper {
    background: white;
    border: 1px solid lightgray;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .1);
}

.overhead {
    position: relative;
    width: calc(100% + 8px);
    bottom: 4px;
    left: -4px;
}

@media (max-width: 576px) {
    .parent-paper{
        min-width: 90vw;
    }
}